<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/main.css" th:href="@{main.css}">

    <title>Input</title>
</head>
<body>
<h1>Input</h1>
<h2>Enter your name</h2>
<form action="Output" th:action="@{Output}">
    <p>
        <label for="fn">First name</label>
        <input id="fn" th:name="firstName">
    </p>

    <p>
        <label for="ln">Last name</label>
        <input id="ln" th:name="lastName">
    </p>
    <p>
  <input type="submit" value="Send">
    </p>
</form>
</body>
</html>